a {
  color: var(--link-color);
  text-decoration: none;

  &:active, &:hover, &:focus {
    outline-width: 0;
    text-decoration: underline;
  }

  &:not([href]) {
    color: inherit;
    text-decoration: none;
  }

  &.icon {
    color: inherit;
  }
}