.autocomplete-suggestions { 
  border: 1px solid #ccc; 
  background: #fff;
  cursor: default; 
  overflow: auto; 
}
.autocomplete-suggestion { 
  padding: 5px 10px; 
  white-space: nowrap; 
  overflow: hidden; 
}
.autocomplete-no-suggestion { 
  padding: 2px 5px;
}
.autocomplete-selected { 
  background: #ddd;
}
.autocomplete-suggestions strong { 
  font-weight: bold; 
}
.autocomplete-group { 
  padding: 2px 5px; 
}
.autocomplete-group strong { 
  font-weight: bold; 
  color: #000; 
  display: block; 
  border-bottom: 1px solid #000; 
}
