.clipboard-button {
  position: absolute;
  right: 0;
  font-size: 1.25em;
  opacity: 0.2;
  transition: opacity 0.3s;
}

table.CodeRay:hover .clipboard-button {
  opacity: 1;
  transition: opacity 0.3s;
}

table.CodeRay {
  position: relative;
  margin-bottom: 0;
  
  pre {
    margin-bottom: 0;
  }
  
  tr, td {
    border: 0;
    pre {
      margin-left: 0;
    }
  }

  td.line-numbers {
    background: #eee;
    padding: 4px;    
  }

  td.code {
  }

}
