code {
  background-color: var(--inline-code-bg-color);
  padding: 0px 8px;
  margin: 0;
  font-size: 90%;
  border-radius: 3px;
  display: inline-block;
}

pre {
  position: relative;

  border: 1px solid var(--code-border-color);
  border-radius: 5px;
  overflow-x: auto;
  padding: 10px;

  code {
    background-color: transparent;
    display: block;
    line-height: 1.2;
    position: relative;
  }
}
