code {
  padding: 0px 8px;
  margin: 0;
  font-size: 90%;
  background-color: #eee;
  border-radius: 3px;
  display: inline-block;
}

pre {
  overflow-x: auto;
  position: relative;
  border-radius: 3px;

  code {
    background-color: transparent;
    display: block;
    font-size: inherit;

    // padding: 0 20px;
    line-height: 1.2;

    .clipboard-button {
      position: absolute;
      right: 10px;
      top: 2px;
      font-size: 1.25em;
      opacity: 0.2;
      transition: opacity 0.3s;
      display: inline-block;
      padding: 5px;
    }

    &:hover .clipboard-button {
      opacity: 0.8;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1.0;
        transition: opacity 0.3s;
      }
    }
  }
}
