* {
  box-sizing: border-box;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

blockquote {
  color: var(--blockquote-color);
  border-left: 4px solid var(--blockquote-border-color);
  margin: 0;
  padding: 0 15px;

  &>:first-child {
    margin-top: 0;
  }

  &>:last-child {
    margin-bottom: 0;
  }
}

p, blockquote, ul, ol, dl, table, pre {
  margin-top: 0;
  margin-bottom: 16px;
}

mark {
  background-color: var(--highlight-color);
}

.quiet {
  color: var(--quiet-color);
}
