nav {
  @media print {
    display: none;
  }

  @include mobile {
    display: none;
  }

  background: var(--sidebar-bg-color);
  border-right: 1px solid var(--sidebar-border-right-color);

  height: 100vh;
  width: 300px;
  overflow-y: auto;
  position: fixed;

  .icon-bar {
    background: var(--sidebar-bg-color);
    border-bottom: 1px dotted var(--sidebar-border-color);
    position: sticky;
    top: 0;
    z-index: 1;
  }

  a.document, span.document, .caption {
    border-bottom: 1px dotted var(--sidebar-border-color);
    // &:hover {
    //   background: #e4e4e4;
    // }

    display: block;
    padding: 5px 20px 5px 30px;
  }

  a.icon {
    display: inline-block;
    font-size: 1.5em;
    width: 50%;
    padding: 3px 20px 3px 30px;
    &.wide {
      width: 100%
    }
    // &:hover {
    //   background: #e4e4e4;
    // }
  }


  &:after {
    content: "";
    height: 90px;
    display: block;
  }
}
