nav {
  @media print {
    display: none;
  }

  @include mobile {
    display: none;
  }

  // background: #eee;
  // border-right: 1px solid #ccc;

  height: 100vh;
  width: 250px;
  overflow-y: auto;
  position: fixed;

  .icon-bar {
    border-bottom: 1px dotted #ddd;
  }

  a.document, span.document, .caption {
    // border-bottom: 1px dotted #ddd;
    // &:hover {
    //   background: #e4e4e4;
    // }

    display: block;
    padding: 3px 20px 3px 30px;
  }

  a.icon {
    display: inline-block;
    font-size: 1.5em;
    width: 50%;
    padding: 3px 20px 3px 30px;
    &.wide {
      width: 100%
    }
    // &:hover {
    //   background: #e4e4e4;
    // }
  }


  &:after {
    content: "";
    height: 90px;
    display: block;
  }
}


// Nicer sidebar scrollbars
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #ddd;
  -webkit-border-radius: 3px;
}
