// Responsive N Column Grid System
// Based on http://responsive.gs by Denis Leblanc (v2.0)
// License: GPL & MIT

// Config
// $breakpoint          768px; // defined elsewhere
$rgs-cols:              12;
$rgs-gutter:            1.1%;  // Good: 2, 1.1, 0.8, 0.5
$rgs-row-bottom-margin: 0.25em;
$breakpoint:            768px;

// Set all elements to box sizing
* { -webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box; }

// Center container
.container { margin: 0 auto; }

// Clearfix
.row:after, .col:after, .clr:after, .group:after { 
	content: ""; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}


// Row
.row { margin-bottom: $rgs-row-bottom-margin; } 
.row.tight { margin-bottom: 0em; }
							  
// Column
.col { 
	display: block;
	width: 100%;
	float:left;
}

@media (min-width: $breakpoint) {
	margin-left: $rgs-gutter;
}

// No margin for first column (implicit or explicit)
.col:first-child, .col.first { margin-left: 0; }

// Column width on large screens
@media (min-width: $breakpoint) {
	@for $i from 1 through $rgs-cols {
		.span_#{$i}, .span-#{$i} { 
			width: ($i/$rgs-cols*100) - ((1 - ($i/$rgs-cols)) * $rgs-gutter ) 
		}
	}
}

