#mobile-search {
  @media print {
    display: none;
  }

  @include desktop {
    display: none;
  }

  @include mobile {
    position: fixed;
    font-size: 30px;
    top: 0px;
    right: 10px;
    opacity: 0.5;
  }
}

.search-form {
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-field {
  border: 1px solid var(--search-field-border-color);
  border-radius: 3px;

  outline: none;
  padding: 8px 12px;
  font-size: 1.5em;
  width: 100%;
  min-width: 200px;

  &:focus {
    border-color: var(--search-field-focused-border-color);
  }
}
