.search-form {
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-field {
  outline: none;
  padding: 8px 12px;
  font-size: 1.5em;
  width: 50%;
  min-width: 200px;
  width: 100%;

  border: #ccc 1px solid;
  border-radius: 3px;

  &:focus {
    border-color: #4078c0;
  }
}
