table {
  border-spacing: 0;
  border-collapse: collapse;

  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  
  th, td {
    padding: 6px 13px;
    border: 1px solid var(--table-border-color);
  }

  td {
    background-color: var(--table-bg-color);
  }

  th {
    font-weight: bold;
    background-color: var(--table-header-bg-color);
  }


  tr {
    background-color: var(--table-row-bg-color);
  }

  tr:nth-child(2n) {
    background-color: var(--table-alt-row-bg-color);
  }
}
