:root {

  --background-color: transparent;
  --blockquote-border-color: #ddd;
  --blockquote-color: #777;
  --breadcrumbs-border-color: #ccc;
  --clipboard-button-bg-color: white;
  --clipboard-button-border-color: #ccc;
  --font-color: #333;
  --footnotes-color: #666;
  --h1-border-color: #eee;
  --h1-color: #333;
  --h2-border-color: #eee;
  --h2-color: #333;
  --h3-color: #333;
  --h4-color: #333;
  --h5-color: #333;
  --h6-color: #777;
  --highlight-color: palegreen;
  --hr-color: #ddd;
  --inline-code-bg-color: #eee;
  --kbd-bg-color: #fcfcfc;
  --kbd-border-color: #ccc;
  --kbd-color: #111;
  --kbd-shadow-color: #bbb;
  --link-color: #4078c0;
  --quiet-color: #777;
  --scrollbar-color: #ccc;
  --search-field-border-color: #ccc;
  --search-field-focused-border-color: #4078c0;
  --sidebar-bg-color: transparent;
  --sidebar-border-color: #ddd;
  --sidebar-border-right-color: #ddd;
  --table-alt-row-bg-color: transparent;
  --table-bg-color: transparent;
  --table-border-color: #ddd;
  --table-header-bg-color: transparent;
  --table-row-bg-color: transparent;

}