@import "manifest";

body {
  max-width: 1300px;
  margin: 0 auto;
}

.main {
  padding: 0 20px 100px 20px;
  min-height: 100vh;

  &:before, &:after {
    display: table;
    content: "";
  }

  &:after {
    // clear: both;
  }

  @include desktop {
    &.with-sidebar {
      margin-left: 250px;
    }
  }
  
  &.without-sidebar {
    max-width: 980px;
    margin: 0 auto;
  }
}

