@import "manifest";

body {
  max-width: 1300px;
  margin: 0 auto;
}

.main {
  padding: 0 20px 100px 20px;
  min-height: 100vh;

  &:before, &:after {
    display: table;
    content: "";
  }

  &:after {
    // clear: both;
  }

  &.with-sidebar {
    margin-left: 250px;
    border:1px solid #ccc;
    border-width: 0 1px;
    @media print {
      margin-left: 0;
      border-width: 0;
    }

  }

  &.without-sidebar {
    max-width: 980px;
    margin: 0 auto;
  }
}

