@import "manifest";

body {
  max-width: 1300px;
  margin: 0 auto;
}

.main {
  @media print {
    margin-left: 0;
    border-width: 0;
  }
  padding: 0 20px 100px 20px;
  margin-left: 250px;
  border:1px solid #ccc;
  border-width: 0 1px;
  min-height: 100vh;

  &:before, &:after {
    display: table;
    content: "";
  }

  &:after {
    // clear: both;
  }
}

