body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #333;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica,Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word; }

strong, .strong {
  font-weight: bolder; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4; }

h1 {
  margin: 0.67em 0;
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee; }

h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee; }

h3 {
  font-size: 1.5em;
  line-height: 1.43; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 1em;
  color: #777; }

code, pre, kbd {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1em; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  table th {
    font-weight: bold; }
  table th, table td {
    padding: 6px 13px;
    border: 1px solid #ddd; }
  table tr {
    background-color: #fff;
    border-top: 1px solid #ccc; }
  table tr:nth-child(2n) {
    background-color: #f8f8f8; }

a {
  -webkit-text-decoration-skip: objects;
  color: #4078c0;
  text-decoration: none; }
  a:active, a:hover {
    outline-width: 0;
    text-decoration: underline; }
  a:not([href]) {
    color: inherit;
    text-decoration: none; }

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em; }

ol ol, ul ol {
  list-style-type: lower-roman; }

ul ul ol, ul ol ol, ol ul ol, ol ol ol {
  list-style-type: lower-alpha; }

ul ul, ul ol, ol ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

dd {
  margin-left: 0; }

dl {
  padding: 0; }
  dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold; }
  dl dd {
    padding: 0 16px;
    margin-bottom: 16px; }

li > p {
  margin-top: 16px; }

code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  background-color: #eee;
  border-radius: 3px; }
  code:before, code:after {
    letter-spacing: -0.2em;
    content: "\00a0"; }

pre {
  margin-left: 20px;
  overflow: auto;
  line-height: 1.45;
  word-wrap: normal; }
  pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
  pre code {
    display: inline-block;
    max-width: initial;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    border: 0; }
  pre code:before,
  pre code:after {
    content: normal; }

table.CodeRay {
  margin-bottom: 0; }
  table.CodeRay pre {
    margin-bottom: 0; }
  table.CodeRay tr, table.CodeRay td {
    border: 0; }
    table.CodeRay tr pre, table.CodeRay td pre {
      margin-left: 0; }
  table.CodeRay td.line-numbers {
    background: #eee;
    padding: 4px; }

img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff; }

hr {
  box-sizing: content-box;
  overflow: visible;
  height: 0;
  overflow: hidden;
  border: 0;
  border-bottom: 1px solid #ddd;
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border-bottom-color: #eee; }
  hr::before {
    display: table;
    content: ""; }
  hr::after {
    display: table;
    clear: both;
    content: ""; }

kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb; }

.search-form {
  margin-bottom: 20px;
  margin-top: 20px; }

.search-field {
  outline: none;
  padding: 8px 12px;
  font-size: 1.5em;
  width: 50%;
  min-width: 200px;
  width: 100%;
  border: #ccc 1px solid;
  border-radius: 3px; }
  .search-field:focus {
    border-color: #4078c0; }

.breadcrumbs {
  margin-top: 6px;
  border-bottom: 1px solid #ccc; }
  .breadcrumbs a {
    display: inline-block;
    padding: 7px 0; }

nav {
  height: 100vh;
  width: 250px;
  overflow-y: auto;
  position: fixed; }
  @media print {
    nav {
      display: none; } }
  @media only screen and (max-width: 767px) {
    nav {
      display: none; } }
  nav .icon-bar {
    border-bottom: 1px dotted #ddd; }
  nav a.document, nav span.document, nav .caption {
    display: block;
    padding: 3px 20px 3px 30px; }
  nav a.icon {
    display: inline-block;
    font-size: 1.5em;
    width: 50%;
    padding: 3px 20px 3px 30px; }
    nav a.icon.wide {
      width: 100%; }
  nav:after {
    content: "";
    height: 90px;
    display: block; }

::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-thumb {
  background: #ddd;
  -webkit-border-radius: 3px; }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?14105917");
  src: url("../fonts/fontello.eot?14105917#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?14105917") format("woff2"), url("../fonts/fontello.woff?14105917") format("woff"), url("../fonts/fontello.ttf?14105917") format("truetype"), url("../fonts/fontello.svg?14105917#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none; }

.icon-search:before {
  content: '\e800'; }

.icon-home:before {
  content: '\e801'; }

.autocomplete-suggestions {
  border: 1px solid #ccc;
  background: #fff;
  cursor: default;
  overflow: auto; }

.autocomplete-suggestion {
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden; }

.autocomplete-no-suggestion {
  padding: 2px 5px; }

.autocomplete-selected {
  background: #ddd; }

.autocomplete-suggestions strong {
  font-weight: bold; }

.autocomplete-group {
  padding: 2px 5px; }

.autocomplete-group strong {
  font-weight: bold;
  color: #000;
  display: block;
  border-bottom: 1px solid #000; }

* {
  box-sizing: border-box; }

p {
  margin-top: 0;
  margin-bottom: 10px; }

blockquote {
  margin: 0;
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd; }
  blockquote > :first-child {
    margin-top: 0; }
  blockquote > :last-child {
    margin-bottom: 0; }

p, blockquote, ul, ol, dl, table, pre {
  margin-top: 0;
  margin-bottom: 16px; }

.quiet {
  color: #777; }

body {
  max-width: 1300px;
  margin: 0 auto; }

.main {
  padding: 0 20px 100px 20px;
  min-height: 100vh; }
  .main:before, .main:after {
    display: table;
    content: ""; }
  @media only screen and (min-width: 768px) {
    .main.with-sidebar {
      margin-left: 250px; } }
  .main.without-sidebar {
    max-width: 980px;
    margin: 0 auto; }

/*# sourceMappingURL=main.css.map */
